*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

body{
    background-color:azure;
}

.head{
    margin: auto;
    width: 80%;
    padding: 10px;
    
}

.left{
    width: 50%;
    float: left;
}


.header{
    text-transform:uppercase;
    font-size: 17px;
    text-align: center;
    margin-right: 70px;
}

.span1{
    
    color:royalblue;
}

.span2 {
    color:orange;
}

.content{
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    line-height: 1;
    color: grey;
    margin-right: 65px;
    font-weight: bold;
    
}

.banner{
    width:85%;
    height: 30px;
    background-color:cornflowerblue;
    margin-top: 20px;

    float: left;
}

.banner-text{
    text-align: center;
    font-size: 14px;
    color:white;
    margin: 6px;
    
}

.header1{
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    float: left;
    margin-top: 25px;
    height: 160px;
}

.span3{
    color:royalblue;
    font-size: 30px;

}

.span4{
    color:royalblue;
    font-size: 25px;
    font-weight: bold;
    

}

.header1 p{
    color:cornflowerblue;
    text-transform: lowercase;
    margin-top: 10px;
    font-size: 14px;
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
}

.header2{
    width: 50%;
    text-transform: uppercase;
    text-align: left;
    float: left;
    margin-top: 25px;
    height: 160px;
}

.image-space {
     width: 85%;
}

.space-donut{
    margin-top: 55px;
}

.header3{
    width: 23%;
    text-transform: uppercase;
    text-align: left;
    float: left;
    margin-top: 25px;
    height: 160px; 
}
  
.header3 p{
    color:cornflowerblue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    margin-right: 15px;
    margin-top: -7px;
    text-align: right;
}

.header4{
    width: 70%;
    text-transform: uppercase;
    text-align: left;
    float: left;
    margin-top: 25px;
    height: 160px; 
}
.header4 img{
    padding: 5px;
}

.number2{
    font-size: 55px;
    color:orange;
    
}

.table-2{
    float: right;
    width: 80%;
    
}

.table2-img{
    margin-left: 25px;
}

.table2-img1{
    margin-left: 0px;
}

.number3{
    font-size: 45px;
    color:royalblue;
    padding-left: 15px;
}

.num1{
    font-size: 25px;
    color:orange;
    text-transform: uppercase;
}

.vertical{
    border-left: 2px dashed royalblue ;
    height:160%;
    left: 47%;
    position: absolute;
}


.right{
    width: 50%;

    float: right;
}
.banner-right{
    width:85%;
    height: 30px; 
    background-color:cornflowerblue;
    margin-top: 10px;

    float: left;
}

.healthy{
    
    width: 100%;
    height: 490px;
    margin-top: 15px;
}

.header2-healty{
    width: 50%;
    text-transform: uppercase;
    text-align: left;
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    
}
.table-1{
    float: left;
    
    padding: 10px;
}
.whole{
    font-size: 22px;
    color:cornflowerblue;
    text-transform:capitalize; 
    text-align: center;
    font-weight: bold;
}
.number{
      font-size: 40px;
      color:orange;
      padding-left: 15px;
}

.table-1 img{
    padding-left: 10px;
}

.image-milk{
    float: left;
}

.banner-right2{
    width:85%;
    margin-top: -1px;
    background-color:cornflowerblue;
    height: 30px; 

    float: left;
}

.circle-header1{
    width: 68%;
    text-transform: uppercase;
    text-align: left;
    float: left;
    margin-top: 25px;
    height: 130px;
}

.circle-header2{
    width: 20%;
    float: left;
   margin-top: 40px;
    
}

.circle-header1 p{
    color:cornflowerblue;
    text-transform: lowercase;
   font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    text-align: left;
}

.num{
    font-size: 28px;
    color:orange;
    
}

.num-people{
    font-size: 18px;
    text-transform: lowercase;
}